{{template "header.html"}}

<form method=post action="{{if .}}{{.EditPath}}{{else}}/new{{end}}">
  <p>You can use <a href="" title="Markdown tutorial">Markdown</a> to format the article.</p>
  <p><a href="" title="Article ideas">Need an idea?</a></p>
  <p>
    <textarea name=newbody placeholder="Awesome article" autofocus required>{{if .}}{{.Markdown}}{{end}}</textarea>
  </p>
  {{if .}}
  <p>Please enter your password to edit the article.</p>
  {{else}}
  <p>Set a password if you want to edit the article later.</p>
  {{end}}
  <p>
    <input name=newpassword type=password placeholder="Password{{if not .}} (optional){{end}}">
  </p>
  <p>
    <input type=submit value={{if .}}Edit{{else}}Publish{{end}}>
  </p>
</form>

{{template "footer.html"}}
