{{template "header.html"}}
<p>
<b>typed.pw</b> is a very simple and fast way to write ✍ online. Just <a href="/new" title="Create article">create a new article</a> and start writing.

<ul>
  <li>Use <a href="http://typed.pw/a/11" title="Markdown tutorial">Markdown</a> to format your awesome article.</li>
  <li>Write anonymously. No logs. <a href="https://prism-break.org">No tracking 👀</a>. No name 📛. No email 📧. Just write!</li>
  <li>Write anything! Without fuss, in a simple way, right now!</li>
</ul>
</p>
<a id=createbutton href="/new" title="Write anything!">Create article 📓</a>

<p id=count>{{.}} articles</p>
<a id=about href="https://typed.pw/a/924">About</a>


{{template "footer.html"}}
