{{template "header.html"}}
<p>
<b>Typed.pw</b> is a very simple and fast way to write online. Just <a href="/new" title="Create article">create a new article</a> and start writing.

<ul>
  <li>Use Markdown to format your awesome article.</li>
  <li>Write anonymously. No logs. No tracking. No name. No email. Just write!</li>
  <li>Write anything! Without fuss, in a simple way, right now!</li>
</ul>
</p>
<a id=indexnew href="/new" title="Write anything!">Create article</a>

{{template "footer.html"}}
